<h1>Hello, Rails!</h1>
<p>Joshua Inniger, Joey Alflen, Ailun Shen</p>
<%= link_to 'The Blog', controller: 'articles' %>
<%= link_to 'Log In', {:controller => 'sessions', :action => 'new'} %>
<%= link_to 'Log Out', {:controller => 'sessions', :action => 'destroy'} %>