// Place all the styles related to the fmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print {
	@page {
		size:landscape;
	}

	.modal-dialog, .navbar, .marker-arrowhead, .tool-remove {
		display:none !important;
	}
}