<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>


<div class="form-signin">
<%= link_to 'Home', root_path %>
<br><br>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>
		<%= link_to 'Change Password', {:controller => 'accountmanagement', :action => 'updatepassword'} %><h4>
				</div>
				<div class="panel-body">
				Click here to change your password.
				</div>
			</div>
		</div>
	</div>
</div>

</div>